# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
coverage.txt

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# IDE specific files
.idea/
*.iml
.vscode

# 'go build' binary
/cmd/bio-rd/bio-rd
/cmd/bio-rdc/bio-rdc
/cmd/ris-mirror/ris-mirror
/cmd/ris/ris
/cmd/riscli/riscli
/examples/bgp/bgp
/examples/bmp/bmp
/examples/kernel

# bazel directories
/bazel-*
